
      {% extends 'base.html' %}
      {% block myContent %}
     

    <table class="table">
        <tr>
            <td> student name:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>rollno:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>admission:</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td><button class="btn btn-success" value="submit">Submitt</button></td>
        </tr>
    </table>
    {% endblock %} 
